/* You can add global styles to this file, and also import other style files */
a {
    color: #673AB7;
}

a:hover {
    color: #553A66;
    text-decoration: none;
}

button {
    background-color: #673AB7;
}

.main-button {
    color: white !important;
}

.link {
    cursor: pointer;
}