.landing {
    padding-top: 10px;
    text-align: center;
}

.landing h1 {
    padding-top: 10px;
    text-align: center;
}

.landing h2 {
    padding-top: 5px;
    margin-top: 25px;
    text-align: center;
}

.readme {
    text-align: center;
}