.navbar-default {
    background-color: #512DA8;
    color: white !important;
    margin: 0;
}

button {
    background-color: #673AB7;
    color: white;
    border-radius: 4px;
}

.dropdown a {
    color: white !important;
}

.dropdown a:hover {
    color: #9E9E9E;
}