<app-search></app-search>
<div class="landing" md-margin layout-align="center">
  <h1 class="md-display-2">{{teamName}} {{teamRepo}}</h1>
  <h2 class="md-display-1">{{teamProjectInfo?.deadline}}</h2>
</div>

<h3>Contributors</h3>
<div *ngFor="let contributor of teamProjectContributors">
  <h4><a [routerLink]="['/dev', contributor.login]">{{ contributor?.login }}</a>: {{ contributor?.contributions }}</h4>
</div>

<h3>Languages</h3>
<div *ngIf="teamProjectLanguages">
  <div *ngFor="let lang of teamProjectLanguages">
    <p>{{lang.language[0]}}:{{lang.language[1]}}</p>
    <img src="{{lang.language[0]}}" />
  </div>
</div>
<div *ngIf="!teamProjectLanguages">
  Github has not yet calculated the language statistics for your project.
</div>


<div>
  <h3>Forks</h3>
  <p *ngFor="let fork of teamProjectForks">
    {{fork?.owner}}
    Github url: {{fork?.html_url}}
  </p>
</div>

<div>
  <h3>Branches</h3>

  <div *ngFor="let contrib of branchesByContributor">
    <md-card>
      <h4>{{contrib[0].login}}</h4>
     <div *ngFor="let branch of contrib">
        {{branch.name}}
     </div>
    </md-card>
  </div>
</div>

<div class="readme">
  <h3>Readme</h3>
  {{teamProjectReadme?._body}}
  <p><span [innerHTML]="teamProjectReadme"></span></p>
</div>

<app-pie-chart></app-pie-chart>