<app-search></app-search>
<div style="text-align: center;">
  <div class="landing" md-margin layout-align="center">
    <h1 class="md-display-2" style="margin-top: 45px;">{{teamName}} - {{teamRepo}}</h1>
    <h2 class="md-display-1">{{teamProjectInfo?.deadline}}</h2>
  </div>

  <h2 class="title">Contributors</h2>
  <div class="team-member-div">
    <md-card *ngFor="let contributor of teamProjectContributors" class="team-member-card">
      <img src="{{ contributor.avatar }}" class="team-member-card-image" />
      <h2 class="team-member-card-name">
        @{{ contributor.login }}
      </h2>  
      <p class="team-member-card-username">
        Contribution Score:
        <br />
        {{ contributor?.contributions }}
      </p>
    </md-card>
  </div>

  <div style="text-align: center; margin-top: 70px;">
    <h2 class="title">Languages</h2>
    <md-grid-list cols="5" rowHeight="110px" *ngIf="teamProjectLanguages">
      <md-grid-tile class="language" *ngFor="let lang of teamProjectLanguages">
        <div>
          <img src="{{lang.language[2]}}" style="height: 50px; margin-bottom: 5px;">
          <p><strong>{{lang.language[0]}}</strong>: {{lang.language[1]}}</p>  
        </div>   
      </md-grid-tile>
    </md-grid-list>

    <div *ngIf="!teamProjectLanguages">
      Github has not yet calculated the language statistics for your project.
    </div>
  </div>

  <div style="text-align: center; margin-top: 50px;">
      <h2 class="title">Forks</h2>
      <p *ngFor="let fork of teamProjectForks">
        <a [routerLink]="['/dev', fork.owner]" class="link"><strong>{{ fork?.owner }}</strong></a>: <a href="{{ fork.html_url }}">{{ fork?.html_url }}</a>
      </p>
  </div>

  <div style="text-align: center; margin-top: 50px;">
      <h2 class="title">Branches</h2>
      <md-grid-list cols="6" rowHeight="250px">
        <md-grid-tile class="language" *ngFor="let contrib of branchesByContributor">
          <div>
            <h4 class="link"><a [routerLink]="['/dev', contrib[0].login]">{{contrib[0].login}}</a></h4>
            <div *ngFor="let branch of contrib">
                {{branch.name}}
            </div>
          </div>
        </md-grid-tile>
    </md-grid-list>
  </div>

  <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
    <h2 class="title" style="text-align: center;">Contribution Score</h2>
  </div>
  <app-pie-chart></app-pie-chart>

  <div style="text-align: center; margin-top: 50px;">
    <md-card class="readme" *ngIf="teamProjectReadme?._body" style="text-align: left; margin: 100px;">
      <h2 class="title" style="text-align: center;">Readme</h2>
      <p [innerHTML]="teamProjectReadme?._body" style="text-align: left; margin: 50px;"></p>
    </md-card>
  </div>
</div>