<app-search></app-search>

<div class="background-image" layout-align="center"></div>

<div class="background-overlay" layout="row" layout-align="center" style="background-color: #F8F8F8">
  <md-grid-list cols="3" class="top-grid"  rowHeight="240px">
    <md-grid-tile>
      <h3 style="margin-left: 25%;">Bytes of code written: {{ this._profileService.bytesStat || 0 }}</h3>
    </md-grid-tile>

    <md-grid-tile>
      <img class="profile-image" src="{{ githubData.avatar_url }}" />
      <button class="follow-button" (click)="follow()" *ngIf="member && currentUser !== username" md-button md-raised>{{followStatus}}</button>
    </md-grid-tile>

    <md-grid-tile>
      <br>
      <div class="language" *ngFor="let language of languages"><img src="{{ language }}" style="height: 50px; margin-bottom: 5px;"></div>
    </md-grid-tile>
  </md-grid-list>
</div>

<div class="bottom-grid" layout="row">
  <div class="bottom-grid-box" style="border-right: 1px solid black; height: 100%; min-height: 500px; background-color: #F8F8F8;" flex="150" layout-padding>
    <app-profile-feed></app-profile-feed>
  </div>

  <div class="bottom-grid-box profile-info" flex="150" style="background-color: #F8F8F8; height: 400px;" layout-padding>
    <div>
      <a href="{{ githubData.blog }}" target="_blank" style="float:right; margin-left: -25%; margin-right: 25%;">
        <img src="https://cdn3.iconfinder.com/data/icons/ui-design-2/64/_Personal_Profile_Website_Ui_Design-512.png" class="blog-icon" target="_blank" *ngIf="githubData.blog" />
      </a>
      <h1 style="text-align:center; border-bottom: 1px solid #EEEEEE; padding-bottom: 20px;">
        {{ githubData.name }}
      </h1>
    </div>
    <p style="text-align:center; font-style:italic; margin-top: 17px;">{{ githubData.location }}</p>
    <p style="text-align: center; font-style: italic; font-size: 17px; margin-top: 25px;">{{ githubData.bio }}</p>
    <md-grid-list cols="2" rowHeight="70px">
      <md-grid-tile>
        <button md-button md-raised class="main-button" (click)="followers.show()">Followers: {{ userData.followerCount - 2 || githubData.followers }}</button>
        <sm-modal title="Followers" class="basic" #followers>
            <modal-content>
                <md-divider class="divider"></md-divider>
                <!--<img class="profile-image" src="{{ friend.avatar_url }}" />-->
                <div *ngFor="let friend of followerList" class="follower">
                  <img src="{{friend.imageUrl}}" class="friend-image" />
                  <a [routerLink]="['/dev', friend.username]">{{ friend.firstName }} {{ friend.lastName }}</a> - <a [routerLink]="['/dev', friend.username]" style="font-size: 11px; color: white;">@{{friend.username}}</a>
                </div>
            </modal-content>
        </sm-modal>
      </md-grid-tile>
      <md-grid-tile>
        <button md-button md-raised class="main-button" (click)="myModal.show()">Following: {{ userData.followingCount || githubData.following }}</button>
        <sm-modal title="Following" class="basic" #myModal>
            <modal-content>
                <md-divider class="divider"></md-divider>
                <div *ngFor="let friend of followingList" class="following">
                  <img src="{{friend.imageUrl}}" class="friend-image" />
                  <a [routerLink]="['/dev', friend.username]">{{ friend.firstName }} {{ friend.lastName }}</a> - <a [routerLink]="['/dev', friend.username]" style="font-size: 11px; color: white;">@{{friend.username}}</a>
                </div>
            </modal-content>
        </sm-modal>
      </md-grid-tile>
    </md-grid-list>

    <p>Blog: {{ githubData.blog }}</p>

    <h1 style="text-align: center;">Projects</h1>
  </div>
</div>

<router-outlet></router-outlet>