<app-search></app-search>

<h1 class="title">{{ this.teamService.teamName }}</h1>

<h2 class="title">Team Members</h2>
<div class="team-member-div">
  <md-card *ngFor="let member of teamMembers" class="team-member-card">
    <img src="{{ member.imageUrl }}" class="team-member-card-image" />
    <h2 class="team-member-card-name">
      {{ member.firstName }} {{ member.lastName }}
    </h2>  
    <p class="team-member-card-username">
      <a [routerLink]="['/dev', member.username]" class="link">
        @{{ member.username }}
      </a>
    </p>

    <button class="button" (click)="this.teamService.removeTeamMember(member.id, teamId)" *ngIf="!!member.UsersTeams.isAdmin" md-button md-raised>Remove Team Member</button>
  </md-card>
</div>

<h4>Add a Team Member</h4>
<form (ngSubmit)="submitTeamMember(g)" #g="ngForm" style="margin-left: 10%; margin-right: 10%;">
  <md-input 
    style="width: 100%"
    type="text"
    id="member"
    name="member"
    [(ngModel)]="member.name"
    #member = "ngModel"
    required>
  </md-input>
  <button md-raised-button type="submit" [disabled]="!f.valid" class="button" md-button md-raised>Add a team member</button>
</form>

<md-divider></md-divider>

<h1 class="title">Projects</h1>
<div *ngFor="let project of teamProjects">
  name: <a [routerLink]="['/teams', teamId, project.id]">{{project.name}}</a> {{project.createdAt}} {{project.url}}
</div>

<h2 class="title">Import a project</h2>
<form (ngSubmit)="submitTeamProject(f)" #f="ngForm">
  <md-input 
    placeholder="Github organization project name" 
    style="width: 100%"
    type="text"
    id="project"
    name="project"
    [(ngModel)]="project.name"
    #project = "ngModel"
    required>
  </md-input>
  <button md-raised-button type="submit" [disabled]="!f.valid" class="md-raised md-primary">Import Organization Project</button>
</form>

<app-contributions-bar-chart></app-contributions-bar-chart>
Average Contribution: {{this.teamService.averageContribution}}
Median Contribution: {{this.teamService.medianContribution}}
<!-- Mode Contribution: {{this.teamService.modeContribution}} -->

<h2 class="title">Most Recent Commit</h2>
<div *ngFor="let contributor of this.teamService.mostRecentCommits">
  <p>{{contributor[0]}}: {{contributor[1]}} {{contributor[2]}}</p>
</div>

<app-days-line-chart></app-days-line-chart>
<h2 class="title">Most Productive Day By Contributor</h2>
<div *ngFor="let contributor of this.teamService.productiveDayByContributor">
  <p>{{contributor[0]}}:{{contributor[1]}}</p>
</div>

<app-hours-line-chart></app-hours-line-chart>

<h2 class="title">Most Productive Time By Contributor</h2>
<div *ngFor="let contributor of this.teamService.productiveHourByContributor">
  <p>{{contributor[0]}}:{{contributor[1]}}:00</p>
</div>
