<app-search></app-search>

<h1 class="title">{{ this.teamService.teamName }}</h1>

<h2 class="title">Team Members</h2>
<div class="team-member-div">
  <md-card *ngFor="let member of teamMembers" class="team-member-card">
    <img src="{{ member.imageUrl }}" class="team-member-card-image" />
    <h2 class="team-member-card-name">
      {{ member.firstName }} {{ member.lastName }}
    </h2>  
    <p class="team-member-card-username">
      <a [routerLink]="['/dev', member.username]" class="link">
        @{{ member.username }}
      </a>
    </p>

    <button class="button" (click)="this.teamService.removeTeamMember(member.id, teamId)" *ngIf="!!member.UsersTeams.isAdmin" md-button md-raised>Remove Team Member</button>
  </md-card>
</div>

<div style="text-align: center;">
  <form (ngSubmit)="submitTeamMember(g)" #g="ngForm" style="margin-left: 10%; margin-right: 10%; margin-bottom: 15px;">
    <md-input 
      style="width: 100%"
      type="text"
      id="member"
      name="member"
      [(ngModel)]="member.name"
      #member = "ngModel"
      required>
    </md-input>
    <button md-raised-button type="submit" [disabled]="!f.valid" class="button" md-button md-raised>Add a team member</button>
  </form>
</div>

<div style="text-align: center; margin-top: 50px; padding-top: 25px; border-top: 1px solid black;">
  <h1 class="title">Projects</h1>

  <md-card *ngFor="let project of teamProjects" class="team-card" layout-margin layout-padding>
    <h1><a [routerLink]="['/teams', teamId, project.id]" class="link">{{ project.name }}</a></h1>
  </md-card>
</div>

<div style="text-align: center;">
  <form (ngSubmit)="submitTeamProject(f)" #f="ngForm"  style="margin-left: 10%; margin-right: 10%; margin-bottom: 15px;">
    <md-input 
      placeholder="Github organization project name" 
      style="width: 100%"
      type="text"
      id="project"
      name="project"
      [(ngModel)]="project.name"
      #project = "ngModel"
      required>
    </md-input>
    <button md-raised-button type="submit" [disabled]="!f.valid" class="button" md-button md-raised>Import Organization Project</button>
  </form>
</div>

<div style="text-align: center; margin-top: 50px; padding-top: 25px; border-top: 1px solid black;">
  <h2 class="title">Most Recent Commit</h2>
  <div *ngFor="let contributor of this.teamService.mostRecentCommits">
    <p><a [routerLink]="['/dev', contributor[0]]" class="link">{{ contributor[0] }}</a>: {{ contributor[2] }}</p>
  </div>
</div>

<div style="text-align: center; margin-top: 50px; padding-top: 25px; border-top: 1px solid black;">
  <h2 class="title">Contributions</h2>
  Average Contribution: {{this.teamService.averageContribution}}
  Median Contribution: {{this.teamService.medianContribution}}
  <app-contributions-bar-chart></app-contributions-bar-chart>
  <!-- Mode Contribution: {{this.teamService.modeContribution}} -->
</div>

<div style="text-align: center; margin-top: 25px;">
  <h2 class="title">Most Productive Day By Contributor</h2>
  <div *ngFor="let contributor of this.teamService.productiveDayByContributor">
    <p>{{contributor[0]}}: {{contributor[1]}}</p>
  </div>
  <app-days-line-chart></app-days-line-chart>
</div>

<div style="text-align: center; margin-top: 25px;">
  <h2 class="title">Most Productive Time By Contributor</h2>
  <div *ngFor="let contributor of this.teamService.productiveHourByContributor">
    <p>{{contributor[0]}}: {{contributor[1]}}:00</p>
  </div>
  <app-hours-line-chart></app-hours-line-chart>
</div>
