.like-button {
    color: #2ea890; 
    border-radius: 50%; 
    cursor: pointer; 
    border: 1px solid #2ea890; 
    padding: 0 5px 3px 5px; 
    margin-right: 3px;
}

.like-button:hover {
    background-color: #2ea890;
    color: white;
}

.time {
    float: right; 
    font-size: 11px; 
    margin-bottom: -15px; 
    color: gray;
}

.card {
    margin-bottom: 20px; 
    background-color: white;
}

.likedStyle {
    background-color: #2ea890;
    color: white;
}
