.title {
    font-size: 50px;
    text-align: center;
}

.team-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
    padding: 3px;
    padding-bottom: 20px;
    text-align: center;
}

.delete-button {
    color: white;
    padding: 1px;
    font-size: 12px;
    top: 0;
    right: 0;
    position: absolute;
    float: right;
}

.create-team-form {
    text-align: center;
    margin-top: 40px;
}

.create-team-button {
    background-color: #2ea890;
    color: white;
}

.create-team-tag {
    text-align: center;
    margin-top: -10px;
}

.non-admin {
    padding: 25px;
}