<app-search></app-search>

<div md-margin md-padding>
  <h1 class="heading">Search</h1>
  <md-card layout-align="center" class="search-container">
    <form class="search-form">
      <md-input class="search-area" placeholder="Search Users" type="text" [value]="searchTerm" (input)="searchTerm = $event.target.value"></md-input>
      <button md-button md-raised (click)="searchUsers(searchTerm)">Search</button>
    </form>
  </md-card>

  <template ngFor let-user [ngForOf]="searchedUsers">
    <md-card class="card card-1 user-card" md-margin md-padding>
      <img src="{{ user.avatar_url }}" class="user-avatar" />
      <br>
      <span style="font-size:22px; margin-top: 15px;"><a [routerLink]="['/dev', user.login]" class="link">@{{ user.login }}</a></span>
    </md-card>
  </template>
</div>