.heading {
    text-align: center;
}

.md-input-element {
    font-size: 40px;
}

.search-card {
    background-color: lightgray;
}

.card {
  background: #F8F8F8;
  border-radius: 2px;
  margin: 15px;
  text-align: center;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 6px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.search-container {
    margin: 0;
    padding: 10px;
    background-color: #F8F8F8;
    opacity: .8;
    border: 1px solid;
}

.search-area {
    width: 77%;
    font-size: 35px;
}

.search-form {
    text-align: center;
    padding: 10px;
}

button {
    background-color: #2ea890;
    color: white;
    border-radius: 4px;
}

.user-avatar {
    border-radius: 50%;
    height: 200px;
}

.user-card {
    margin-left: 23px;
    width: 30%;
    height: 320px;
    float: left;
}