<div class="main">
  <div class="landing" md-margin layout-align="center">
    <h1 class="md-display-2">Devspace</h1>
  </div>

  <div class="features" md-margin layout-align="center">
    <h1 class="md-display-2 heading">Features</h1>
    <md-grid-list cols="3">
      <md-grid-tile>
        <h3>Feature 1</h3>
      </md-grid-tile>

      <md-grid-tile>
        <h3>Feature 2</h3>
      </md-grid-tile>

      <md-grid-tile>
        <h3>Feature 3</h3>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div class="signup-landing" md-margin layout-align="center">
    <h1 class="md-display-2 heading">Signup with Github</h1>
    <a href="/api/auth/github"><img src="http://image.flaticon.com/icons/png/512/25/25231.png" style="height: 65px;" /></a>
  </div>

  <div class="team" md-margin layout-align="center">
    <h1 class="md-display-2 heading" style="margin-botom: -50px">Team</h1>
    <md-grid-list class="team" cols="3">
      <md-grid-tile>
        <div class="team-circle">
          <h3>Michael Mitrakos</h3>
          <p>Software Engineer & Product Owner</p>
        </div>
      </md-grid-tile>

      <md-grid-tile>
        <div class="team-circle">
          <h3>Dianne Le</h3>
          <p>Software Engineer & Scrum Master</p>
        </div>
      </md-grid-tile>

      <md-grid-tile>
        <div class="team-circle">
          <h3>David Kim</h3>
          <p>Software Engineer</p>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>